H1{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:ghostwhite;
    align-content: center;
}

H2{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:ghostwhite;
    align-content: center;
}

h3{
    color:black;
    font-size: 70px;
    font-family:sans-serif ;
    text-align: center;
}

p{
    align-content: center;
    width: 50%;
    overflow-wrap: break-word;
    font-size: 35px;
    text-decoration-style: inherit;
    margin:auto;
}

body{
    background-color: rgb(177, 8, 8);
}
ol{
    align-content: center;
    width: 50%;
    overflow-wrap: break-word;
    font-size: 35px;
    text-decoration-style: inherit;
    margin:auto;
}